# Libraries

In [79]:
from utils import *
import pandas as pd

import pickle

import ssl
ssl._create_default_https_context = ssl._create_unverified_context

config = get_config('config.yaml')

# Merge Apple and Google

## Bolt

In [2]:
apple = pd.read_csv(config['csv_input_local']['bolt_apple'],
                    usecols = ['userName','review','rating','date'])
apple = apple.reset_index(drop=True)
total_reviews = len(apple)

print(f'Total Apple reviews: {total_reviews} \n')
apple

Total Apple reviews: 3154

,userName,review,rating,date
0,Tkay_Browning,I love bolt. I don‚Äôt use uber often because on...,5,2019-07-20 11:51:59
1,Livvii_xo,So annoyed with this app!! Definitely the wors...,1,2020-03-05 08:22:05
2,Kazem Sharan,I‚Äôve been using bolt for a month now. I had a ...,1,2019-09-20 09:25:04
3,Doctor A Theo,"To make things clear, I am not a regular revie...",1,2020-02-24 08:36:59
4,Maria348794,I have used the app 3 or 4 times and I thought...,1,2019-11-04 15:03:04
...,...,...,...,...
3149,-Randycool-,–ó–∞—á–µ–º —Ä–µ–≥–µ—Å—Ç—Ä–∏—Ä–æ–≤–∞—Ç—å—Å—è? –Ø –ø—Ä–æ—Å—Ç–æ —Ö–æ—á—É –ø–æ—Å–º–æ—Ç—Ä–µ...,1,2013-09-28 01:46:50
3150,Jaak Sarv,:),5,2015-01-17 22:47:46
3151,AlexEesti,"–°–ª–∏—à–∫–æ–º –º–∞–ª–æ –º–∞—à–∏–Ω, –∏–Ω–æ–≥–¥–∞ –Ω–µ—Ç –≤–æ–æ–±—â–µ, —á–∞—Å—Ç–æ –ø...",2,2013-09-04 18:01:36
3152,Xfrz,"1. samm: positsioneerime telefoni\n2. samm: ""V...",1,2013-08-13 05:43:24
3153,dhanenko,Taxify's purpose was that you can CHOOSE your ...,1,2017-05-20 10:38:09

In [3]:
google = pd.read_csv(config['csv_input_local']['bolt_google'],
                     usecols = ['userName','content','score','at'])
google = google.rename(columns={'content': 'review','score': 'rating', 'at':'date'})

google = google.reset_index(drop=True)
total_reviews = len(google)

print(f'Total Google reviews: {total_reviews} \n')
google

Total Google reviews: 51907

,userName,review,rating,date
0,davide masi,The first thing I noticed is that you can't pr...,1,2020-12-20 01:51:18
1,Mymoena Saban,Your GPS setting around Cape Town Internationa...,4,2020-12-09 17:45:31
2,hello 87,I was invited by my friend and was given a ¬£10...,1,2020-12-06 21:13:37
3,Hilary Meyer,Your drivers are great BUT your support is no ...,3,2020-12-06 19:38:13
4,Kenneth B,"Loving the app, but can only give it a medium ...",3,2020-12-11 14:06:15
...,...,...,...,...
51902,jackline munyao,"l gzcüò§üò£üò¨üò†üò¨üòïüòâüò£üò£üò£üòàüòïüòØüòÑüò§üòØüòàüòØüò•üòØüò®üò≤üò•üò§üò°üò®üò®üò§üò¨üò£üò£üò§üò•üò£üò®üò≤; """,5,2020-10-03 12:01:54
51903,shahid charles,üìπüìºüìºüéàüìºüìºüìºüìºüìºüíªüìº‚è∞‚è∞üîêüîîüîîüîîüîîüê£üòûüòíüòíüòõüê±üì±üêöüêöüêöüêöüêöüêöüêöüêöüêöüêö‚õ∫üåÖüåÖüê£üê£üê£üêúüêü,5,2020-06-24 13:28:50
51904,A Google user,NaN,5,2017-07-19 15:17:07
51905,Mar V,NaN,2,2014-03-09 21:00:35
51906,A Google user,NaN,1,2016-10-26 17:44:38

In [4]:
# merge both apple and google
df_merged = google.append(apple, ignore_index=True)
total_reviews = len(df_merged)

print(f'Total merged reviews: {total_reviews} \n')
df_merged

Total merged reviews: 55061

,userName,review,rating,date
0,davide masi,The first thing I noticed is that you can't pr...,1,2020-12-20 01:51:18
1,Mymoena Saban,Your GPS setting around Cape Town Internationa...,4,2020-12-09 17:45:31
2,hello 87,I was invited by my friend and was given a ¬£10...,1,2020-12-06 21:13:37
3,Hilary Meyer,Your drivers are great BUT your support is no ...,3,2020-12-06 19:38:13
4,Kenneth B,"Loving the app, but can only give it a medium ...",3,2020-12-11 14:06:15
...,...,...,...,...
55056,-Randycool-,–ó–∞—á–µ–º —Ä–µ–≥–µ—Å—Ç—Ä–∏—Ä–æ–≤–∞—Ç—å—Å—è? –Ø –ø—Ä–æ—Å—Ç–æ —Ö–æ—á—É –ø–æ—Å–º–æ—Ç—Ä–µ...,1,2013-09-28 01:46:50
55057,Jaak Sarv,:),5,2015-01-17 22:47:46
55058,AlexEesti,"–°–ª–∏—à–∫–æ–º –º–∞–ª–æ –º–∞—à–∏–Ω, –∏–Ω–æ–≥–¥–∞ –Ω–µ—Ç –≤–æ–æ–±—â–µ, —á–∞—Å—Ç–æ –ø...",2,2013-09-04 18:01:36
55059,Xfrz,"1. samm: positsioneerime telefoni\n2. samm: ""V...",1,2013-08-13 05:43:24
55060,dhanenko,Taxify's purpose was that you can CHOOSE your ...,1,2017-05-20 10:38:09

In [5]:
df_merged.to_csv(config['csv_input_local']['bolt_apple_google'])

## Uber

In [38]:
apple = pd.read_csv(config['csv_input_local']['uber_apple'],
                    usecols = ['userName','review','rating','date'])
apple = apple.reset_index(drop=True)
total_reviews = len(apple)

print(f'Total Apple reviews: {total_reviews} \n')

Total Apple reviews: 10342

In [39]:
google = pd.read_csv(config['csv_input_local']['uber_google'],
                     usecols = ['userName','content','score','at'])
google = google.rename(columns={'content': 'review','score': 'rating', 'at':'date'})

google = google.reset_index(drop=True)
total_reviews = len(google)

print(f'Total Google reviews: {total_reviews} \n')

Total Google reviews: 10000

In [40]:
# merge both apple and google
df_merged = google.append(apple, ignore_index=True)
total_reviews = len(df_merged)

print(f'Total merged reviews: {total_reviews} \n')
df_merged

Total merged reviews: 20342

,userName,review,rating,date
0,Cassandra Winton,Amazing just absolutely love the cheap fares a...,5,2020-09-09 10:46:12
1,Vivek Singh,Superb services with Uber cab..I loving it.Tha...,5,2020-10-24 09:24:04
2,Bernardino Espinoza,Always on time. Courteous drivers... Highly re...,5,2020-10-14 08:02:30
3,Lavenia Mitchell,I had to use Lyft the last 2 days because Uber...,2,2020-07-25 00:16:47
4,hassan ijaz,Terrible.. Drivers are rude and Uber don't eve...,1,2020-09-14 17:01:40
...,...,...,...,...
20337,TPSLBB,Fantastic Service - Great App - though it coul...,5,2013-08-28 21:25:39
20338,Kpila,Good service but no promotion at all to client...,2,2014-01-05 23:50:01
20339,Vinnybelfast,Rising Price. They chargede x3.25 the normal f...,1,2013-12-15 01:31:59
20340,avinash2904,The app is stuck on the login screen after the...,3,2013-02-04 10:11:18
20341,jw548,I use Uber regularly. Today I ordered a car fr...,1,2020-11-18 17:38:36

In [41]:
df_merged.to_csv(config['csv_input_local']['uber_apple_google'])

## Blablacar

In [10]:
apple = pd.read_csv(config['csv_input_local']['blablacar_apple'],
                    usecols = ['userName','review','rating','date'])
apple = apple.reset_index(drop=True)
total_reviews = len(apple)

print(f'Total Apple reviews: {total_reviews} \n')

Total Apple reviews: 23308

In [11]:
google = pd.read_csv(config['csv_input_local']['blablacar_google'],
                     usecols = ['userName','content','score','at'])
google = google.rename(columns={'content': 'review','score': 'rating', 'at':'date'})

google = google.reset_index(drop=True)
total_reviews = len(google)

print(f'Total Google reviews: {total_reviews} \n')

Total Google reviews: 21172

In [12]:
# merge both apple and google
df_merged = google.append(apple, ignore_index=True)
total_reviews = len(df_merged)

print(f'Total merged reviews: {total_reviews} \n')
df_merged

Total merged reviews: 44480

,userName,review,rating,date
0,sachin sharma,If someone use this app for providing a cab se...,5,2020-12-19 15:51:03
1,Nagesh Choudhary,It's best facility for both us (car owner & co...,5,2020-12-13 17:20:35
2,AJAY KUMAR,Such a good app. Gives quick and comfy Travel ...,5,2020-12-07 08:22:00
3,suresh tapila,nice.please look into the option of sharing li...,5,2020-12-16 17:12:45
4,Rajendra Gupta,Very good app. Used it multiple times and shar...,4,2020-12-17 05:08:26
...,...,...,...,...
44475,changeale,"La app se queda colgada continuamente, por lo ...",1,2020-03-06 13:42:48
44476,TantonioII1234,Llevo usando Blabla desde 2012 y no ha habido ...,1,2020-03-06 11:52:22
44477,dichas,–°—É–ø–µ—Ä-–ø—Ä–∏–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è —ç–∫–æ–Ω–æ–º–∏–∏ –Ω–∞ —Å–≤–æ–∏—Ö –ø–æ–µ–∑–¥–∫–∞...,5,2015-04-15 20:53:50
44478,All travelling ways,No rides?,1,2018-01-11 01:24:40
44479,This is my unique username123,It asks for you to pick your country/currency ...,2,2017-07-27 14:10:28

In [13]:
df_merged.to_csv(config['csv_input_local']['blablacar_apple_google'])

## Cabify

In [14]:
apple = pd.read_csv(config['csv_input_local']['cabify_apple'],
                    usecols = ['userName','review','rating','date'])
apple = apple.reset_index(drop=True)
total_reviews = len(apple)

print(f'Total Apple reviews: {total_reviews} \n')

Total Apple reviews: 7384

In [15]:
google = pd.read_csv(config['csv_input_local']['cabify_google'],
                     usecols = ['userName','content','score','at'])
google = google.rename(columns={'content': 'review','score': 'rating', 'at':'date'})

google = google.reset_index(drop=True)
total_reviews = len(google)

print(f'Total Google reviews: {total_reviews} \n')

Total Google reviews: 3261

In [16]:
# merge both apple and google
df_merged = google.append(apple, ignore_index=True)
total_reviews = len(df_merged)

print(f'Total merged reviews: {total_reviews} \n')
df_merged

Total merged reviews: 10645

,userName,review,rating,date
0,Zonghao Pan,my uber had something wrong and didn't work. T...,1,2020-12-11 00:00:40
1,Danny Storm,"Horrible Service, my account has been blocked ...",1,2020-12-16 14:11:17
2,Francesco Piai,Referencia #27639559 I am not able to call or ...,1,2020-12-09 01:12:22
3,Candice Williams,Whats the point of reserving a cabify several ...,1,2020-12-11 06:09:15
4,Youngsook Love,I use Cabify since 2016. I had issue with the ...,1,2020-12-17 17:23:26
...,...,...,...,...
10640,Tin tin 14,Gracias a cabify ahora puedo disfrutar de mis ...,5,2015-02-11 22:10:35
10641,magobe,"Con casi 16.000 taxis circulando por Madrid, ...",1,2011-12-25 19:23:11
10642,l3gendario87,La plataforma Cabify funciona bajo demanda y c...,1,2020-12-19 13:23:19
10643,ainhoamont,Mala experiencia con reservas. Hoy mismo ten√≠a...,1,2020-12-19 04:33:07
10644,nada contento con cabify,"Buenas, yo hoy estoy aqu√≠ para comunicaros a ...",1,2020-12-13 15:16:55

In [17]:
df_merged.to_csv(config['csv_input_local']['cabify_apple_google'])

## Via

In [18]:
apple = pd.read_csv(config['csv_input_local']['via_apple'],
                    usecols = ['userName','review','rating','date'])
apple = apple.reset_index(drop=True)
total_reviews = len(apple)

print(f'Total Apple reviews: {total_reviews} \n')

Total Apple reviews: 2392

In [19]:
google = pd.read_csv(config['csv_input_local']['via_google'],
                     usecols = ['userName','content','score','at'])
google = google.rename(columns={'content': 'review','score': 'rating', 'at':'date'})

google = google.reset_index(drop=True)
total_reviews = len(google)

print(f'Total Google reviews: {total_reviews} \n')

Total Google reviews: 1873

In [20]:
# merge both apple and google
df_merged = google.append(apple, ignore_index=True)
total_reviews = len(df_merged)

print(f'Total merged reviews: {total_reviews} \n')
df_merged

Total merged reviews: 4265

,userName,review,rating,date
0,S.D. Nelson,"I enjoy this app a lot, the only thing that I ...",5,2020-12-03 22:03:02
1,Joshua Clark,I don't know what kind of GPS Via uses but it ...,3,2020-11-28 23:42:03
2,Cynthia Parkhouse,This app is getting worse and worse. Today I r...,1,2020-11-25 05:32:23
3,Angeal M,"App is super glitchy, won't accept payment fro...",1,2020-11-18 20:30:55
4,Michael Andrade,"Very reliable, relaxing and safe.. Get to go w...",5,2020-12-03 01:02:01
...,...,...,...,...
4260,Funnyscreens,"Use my code, jat6s9, to get $20 of free credit...",5,2015-04-06 22:43:12
4261,Eric1901,This app and service is UNBELIEVABLE. Has comp...,5,2015-03-31 12:28:21
4262,Ab111186,"This is a great service, use it daily. Always ...",5,2015-02-26 12:51:17
4263,Jackie7i4,As a newly made gimp from a running stress fra...,5,2015-02-26 00:46:16
4264,Blahwjfjdpcnsjfjfid,Stupid app doesn't let me enter my credit card...,1,2015-02-13 19:26:30

In [21]:
df_merged.to_csv(config['csv_input_local']['via_apple_google'])

## Getaround

In [22]:
apple = pd.read_csv(config['csv_input_local']['getaround_apple'],
                    usecols = ['userName','review','rating','date'])
apple = apple.reset_index(drop=True)
total_reviews = len(apple)

print(f'Total Apple reviews: {total_reviews} \n')

Total Apple reviews: 2488

In [23]:
google = pd.read_csv(config['csv_input_local']['getaround_google'],
                     usecols = ['userName','content','score','at'])
google = google.rename(columns={'content': 'review','score': 'rating', 'at':'date'})

google = google.reset_index(drop=True)
total_reviews = len(google)

print(f'Total Google reviews: {total_reviews} \n')

Total Google reviews: 731

In [24]:
# merge both apple and google
df_merged = google.append(apple, ignore_index=True)
total_reviews = len(df_merged)

print(f'Total merged reviews: {total_reviews} \n')
df_merged

Total merged reviews: 3219

,userName,review,rating,date
0,Stefan B.,"The idea is top, the app is good. There could ...",4,2020-12-15 23:15:43
1,Michael Wandera,AVOID! Poorly Vetted Drivers! I used this app ...,1,2020-12-11 20:19:52
2,Adrien Bacle,Getaround took more than 12 hours to validate ...,2,2020-12-18 20:15:51
3,Julia Christian,The way of advertising prices is very misleadi...,1,2020-12-06 18:25:15
4,Brian Giannini,The explanations for ending the rental are unc...,1,2020-11-04 17:55:05
...,...,...,...,...
3214,Javivi001,Necesitas un coche? Quieres alguilar un coche ...,5,2016-03-27 16:13:35
3215,Monobot123,Perfecta para el alquiler de coches entre part...,5,2016-01-05 01:57:38
3216,David de Vicente,"Es una gran aplicacion, facil de utilizar, int...",5,2016-01-04 12:45:21
3217,Recreativos,Esta app funciona perfectamente para realizar ...,5,2015-12-16 18:27:28
3218,Joaksssssssssssss,"La idea es buena, pero solo aparecen coches en...",1,2015-11-07 17:48:38

In [25]:
df_merged.to_csv(config['csv_input_local']['getaround_apple_google'])

## Ola Cabs

In [28]:
apple = pd.read_csv(config['csv_input_local']['olacabs_apple'],
                    usecols = ['userName','review','rating','date'])
apple = apple.reset_index(drop=True)
total_reviews = len(apple)

print(f'Total Apple reviews: {total_reviews} \n')

Total Apple reviews: 922

In [29]:
google = pd.read_csv(config['csv_input_local']['olacabs_google'],
                     usecols = ['userName','content','score','at'])
google = google.rename(columns={'content': 'review','score': 'rating', 'at':'date'})

google = google.reset_index(drop=True)
total_reviews = len(google)

print(f'Total Google reviews: {total_reviews} \n')

Total Google reviews: 10000

In [30]:
# merge both apple and google
df_merged = google.append(apple, ignore_index=True)
total_reviews = len(df_merged)

print(f'Total merged reviews: {total_reviews} \n')
df_merged

Total merged reviews: 10922

,userName,review,rating,date
0,AMIT KUMAR CHAUDHARY,Its a bad experience as i have not abke to log...,2,2019-07-01 16:54:38
1,ritesh pilare,"This app sucks!!! Don't use Ola, go and use Ub...",1,2019-06-26 16:48:30
2,Shana Aysha,I was charged 381 when the estimated cost was ...,1,2019-09-21 04:32:23
3,Kshitij Khandelwal,"Whenever i try to book one ride, my ride disap...",1,2019-09-27 17:07:18
4,Swaronika Kar,"They should understand, when people in very ne...",1,2020-06-08 09:13:59
...,...,...,...,...
10917,mmari88,I gave twice my refer and earn code to differe...,1,2019-01-13 19:43:50
10918,osian ryan,It‚Äôs bad because it has a lots of problems and...,1,2018-10-31 20:20:47
10919,smishinker,Good ride at good price,5,2015-03-31 15:53:42
10920,Superzor,This new update it's not working.,1,2015-03-22 06:43:46
10921,Katiebelissi,"First of all, this app is the exact replica of...",1,2019-02-17 20:18:23

In [31]:
df_merged.to_csv(config['csv_input_local']['olacabs_apple_google'])

## Taxi.eu

In [33]:
apple = pd.read_csv(config['csv_input_local']['taxieu_apple'],
                    usecols = ['userName','review','rating','date'])
apple = apple.reset_index(drop=True)
total_reviews = len(apple)

print(f'Total Apple reviews: {total_reviews} \n')

Total Apple reviews: 564

In [34]:
google = pd.read_csv(config['csv_input_local']['taxieu_google'],
                     usecols = ['userName','content','score','at'])
google = google.rename(columns={'content': 'review','score': 'rating', 'at':'date'})

google = google.reset_index(drop=True)
total_reviews = len(google)

print(f'Total Google reviews: {total_reviews} \n')

Total Google reviews: 211

In [35]:
# merge both apple and google
df_merged = google.append(apple, ignore_index=True)
total_reviews = len(df_merged)

print(f'Total merged reviews: {total_reviews} \n')
df_merged

Total merged reviews: 775

,userName,review,rating,date
0,Nikolay Demich,Why the payment with card does not work? Why t...,1,2020-07-20 06:25:32
1,Greg Sigalov,I've used 4 other taxi apps in other countries...,2,2019-07-01 19:38:58
2,Louis-philippe Marier,"The worst app i ever saw. Seriously, between, ...",1,2020-03-07 20:42:30
3,Michael Booth,i tried this in antwerp. The arrival time said...,1,2019-05-29 15:10:13
4,Jeroen De Dauw,11%. That is how much battery this app uses pe...,1,2019-09-17 02:08:55
...,...,...,...,...
770,fricus,Der Rezensent Taxiiimmm verteilt seinen einzig...,5,2012-01-17 11:10:55
771,Milena_m√§usschen,"Hab die Taxi App runtergeladen und getestet, m...",5,2011-12-17 21:18:57
772,Krzysztof007,Funktioniert super schnell und zuverl√§ssig. We...,5,2011-10-05 21:26:15
773,bhoernchen,Laut Beschreibung √ºber 40.000 Taxis und das in...,5,2011-10-03 18:09:20
774,Usedforthelasttime,Not reliable service. Use some other company,1,2015-03-23 09:23:00

In [37]:
df_merged.to_csv(config['csv_input_local']['taxieu_apple_google'])

## Free Now

In [42]:
apple = pd.read_csv(config['csv_input_local']['freenow_apple'],
                    usecols = ['userName','review','rating','date'])
apple = apple.reset_index(drop=True)
total_reviews = len(apple)

print(f'Total Apple reviews: {total_reviews} \n')

Total Apple reviews: 14350

In [43]:
google = pd.read_csv(config['csv_input_local']['freenow_google'],
                     usecols = ['userName','content','score','at'])
google = google.rename(columns={'content': 'review','score': 'rating', 'at':'date'})

google = google.reset_index(drop=True)
total_reviews = len(google)

print(f'Total Google reviews: {total_reviews} \n')

Total Google reviews: 11078

In [44]:
# merge both apple and google
df_merged = google.append(apple, ignore_index=True)
total_reviews = len(df_merged)

print(f'Total merged reviews: {total_reviews} \n')
df_merged

Total merged reviews: 25428

,userName,review,rating,date
0,Danissima,Awful experience... I don't know if there were...,1,2020-12-07 10:39:05
1,Mahmudur Rahman,I find it hard to rate a cab firm this low but...,1,2020-12-11 18:09:09
2,Yasmeen Kerflani,Absolute joke of this app. Prebooked taxi yest...,1,2020-12-11 10:34:24
3,Caoimhe Cray,This app is awful. It won't open on my phone a...,1,2020-12-09 16:43:12
4,Darrell Elliott,Updated my review to 1 from 3 stars because it...,1,2020-12-13 12:33:28
...,...,...,...,...
25423,VMarzal,.,4,2015-07-01 09:47:02
25424,Nuflis,.,5,2014-08-26 10:01:52
25425,VModulor,5*,5,2012-12-15 12:01:57
25426,Dani Alcalde,S√≥lo funciona en Madrid y Barcelona. En el res...,1,2013-10-04 16:01:59
25427,zeme,.,5,2012-11-15 17:52:34

In [45]:
df_merged.to_csv(config['csv_input_local']['freenow_apple_google'])

## Yandex Go

In [46]:
apple = pd.read_csv(config['csv_input_local']['yandexgo_apple'],
                    usecols = ['userName','review','rating','date'])
apple = apple.reset_index(drop=True)
total_reviews = len(apple)

print(f'Total Apple reviews: {total_reviews} \n')

Total Apple reviews: 171

In [47]:
google = pd.read_csv(config['csv_input_local']['yandexgo_google'],
                     usecols = ['userName','content','score','at'])
google = google.rename(columns={'content': 'review','score': 'rating', 'at':'date'})

google = google.reset_index(drop=True)
total_reviews = len(google)

print(f'Total Google reviews: {total_reviews} \n')

Total Google reviews: 7053

In [48]:
# merge both apple and google
df_merged = google.append(apple, ignore_index=True)
total_reviews = len(df_merged)

print(f'Total merged reviews: {total_reviews} \n')
df_merged

Total merged reviews: 7224

,userName,review,rating,date
0,Eugen-Andrei Coliban,"In general, the app is awesome, but there are ...",3,2020-12-09 12:58:59
1,A B,Bad expirience in Chisinau. Price at the end o...,1,2020-12-19 14:41:16
2,Saba Tsibadze,This is the worst experience one can have with...,1,2020-11-08 15:03:41
3,Dumb Phone,OK in the beginning but now gets worse with ev...,1,2020-12-04 10:38:27
4,Nikita,Impossible to rate a driver if you dismissed a...,4,2020-10-27 15:44:18
...,...,...,...,...
7219,Dtert,–ù–µ —Å–º–æ–≥–ª–∞ –∞–∫—Ç–∏–≤–∏—Ä–æ–≤–∞—Ç—å –Ω–æ–º–µ—Ä —Ç–µ–ª–µ—Ñ–æ–Ω–∞,5,2018-06-12 17:35:13
7220,marryost,–û—á–µ–Ω—å –ø—Ä–∏—è—Ç–Ω—ã–π –º—É–∂—á–∏–Ω–∞!!!!! –£—Å–ø–µ—Ö–æ–≤!\n–í—Å–µ–º –≤–æ–¥...,5,2020-05-25 22:15:57
7221,NightKrauler,"–°–ª–æ–∂–Ω–æ –≤—ã–∑–≤–∞—Ç—å —Ç–∞–∫—Å–∏ –≤ –ª—é–±–æ–µ –≤—Ä–µ–º—è , –∞ —Ç–∞–∫ —Ü–µ–Ω...",4,2018-05-09 22:33:39
7222,Milana536747,"That had promotion -50% with credit card, i or...",1,2018-09-19 20:01:01
7223,vuhva,Phone number isn‚Äôt allowed. Seems developer do...,1,2018-05-23 09:39:30

In [49]:
df_merged.to_csv(config['csv_input_local']['yandexgo_apple_google'])

# Merge all 10 Apps Review

In [75]:
bolt = pd.read_csv(config['csv_input_local']['bolt_apple_google'], index_col=0)
uber = pd.read_csv(config['csv_input_local']['uber_apple_google'], index_col=0)
blablacar = pd.read_csv(config['csv_input_local']['blablacar_apple_google'], index_col=0)
cabify = pd.read_csv(config['csv_input_local']['cabify_apple_google'], index_col=0)
via = pd.read_csv(config['csv_input_local']['via_apple_google'], index_col=0)
getaround = pd.read_csv(config['csv_input_local']['getaround_apple_google'], index_col=0)
olacabs = pd.read_csv(config['csv_input_local']['olacabs_apple_google'], index_col=0)
taxieu = pd.read_csv(config['csv_input_local']['taxieu_apple_google'], index_col=0)
freenow = pd.read_csv(config['csv_input_local']['freenow_apple_google'], index_col=0)
yandexgo = pd.read_csv(config['csv_input_local']['yandexgo_apple_google'], index_col=0)

In [78]:
list_df = [bolt, uber, blablacar, cabify, via,
           getaround, olacabs, taxieu, freenow, yandexgo]
df_all = pd.concat(list_df)
df_all

,userName,review,rating,date
0,davide masi,The first thing I noticed is that you can't pr...,1,2020-12-20 01:51:18
1,Mymoena Saban,Your GPS setting around Cape Town Internationa...,4,2020-12-09 17:45:31
2,hello 87,I was invited by my friend and was given a ¬£10...,1,2020-12-06 21:13:37
3,Hilary Meyer,Your drivers are great BUT your support is no ...,3,2020-12-06 19:38:13
4,Kenneth B,"Loving the app, but can only give it a medium ...",3,2020-12-11 14:06:15
...,...,...,...,...
7219,Dtert,–ù–µ —Å–º–æ–≥–ª–∞ –∞–∫—Ç–∏–≤–∏—Ä–æ–≤–∞—Ç—å –Ω–æ–º–µ—Ä —Ç–µ–ª–µ—Ñ–æ–Ω–∞,5,2018-06-12 17:35:13
7220,marryost,–û—á–µ–Ω—å –ø—Ä–∏—è—Ç–Ω—ã–π –º—É–∂—á–∏–Ω–∞!!!!! –£—Å–ø–µ—Ö–æ–≤!\n–í—Å–µ–º –≤–æ–¥...,5,2020-05-25 22:15:57
7221,NightKrauler,"–°–ª–æ–∂–Ω–æ –≤—ã–∑–≤–∞—Ç—å —Ç–∞–∫—Å–∏ –≤ –ª—é–±–æ–µ –≤—Ä–µ–º—è , –∞ —Ç–∞–∫ —Ü–µ–Ω...",4,2018-05-09 22:33:39
7222,Milana536747,"That had promotion -50% with credit card, i or...",1,2018-09-19 20:01:01
7223,vuhva,Phone number isn‚Äôt allowed. Seems developer do...,1,2018-05-23 09:39:30

In [80]:
df_all.to_csv(config['csv_input_local']['all_reviews'])