In [1]:
from langdetect import detect, detect_langs
from utils import *

from utils import *

import ssl
ssl._create_default_https_context = ssl._create_unverified_context

config = get_config('config.yaml')

[nltk_data] Downloading package stopwords to /Users/enlik/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
df2 = read_csv_from_gdrive(config['csv_input']['bolt_apple'])
total_reviews = len(df2)
unique_users  = len(df2['userName'].unique())
mean = df2['rating'].mean()

print(f'Total English reviews: {total_reviews} \n')
print(f'Total unique users : {unique_users}')
print(f'Total users who gave multiple reviews: {total_reviews - unique_users}\n')
print(f'Average rating for this app based on the textual reviews: {round(mean,2)} \n')

Total English reviews: 3154

Total unique users : 3149
Total users who gave multiple reviews: 5

Average rating for this app based on the textual reviews: 3.02

In [6]:
df_test = df2.head()
df_test

,userName,isEdited,review,rating,title,date
0,Tkay_Browning,False,I love bolt. I don’t use uber often because on...,5,Love it *Not sponsored*,2019-07-20 11:51:59
1,Livvii_xo,False,So annoyed with this app!! Definitely the wors...,1,Fake Arrival Time & Car Tracking on Map,2020-03-05 08:22:05
2,Kazem Sharan,False,I’ve been using bolt for a month now. I had a ...,1,Drivers are unprofessional,2019-09-20 09:25:04
3,Doctor A Theo,False,"To make things clear, I am not a regular revie...",1,Shockingly unreliable drivers and unhelpful se...,2020-02-24 08:36:59
4,Maria348794,False,I have used the app 3 or 4 times and I thought...,1,I feel scammed,2019-11-04 15:03:04

In [14]:
rowsToRemove = []

In [15]:
rowsToRemove.append(0)
rowsToRemove

[0]

In [17]:
rowsToRemove.append(1)
rowsToRemove

[0, 1]

In [18]:
rowsToRemove.append(3)
rowsToRemove

[0, 1, 3]

In [20]:
len(rowsToRemove)

3

In [19]:
# df_test.drop([0, 1, 3])
df_test.drop(rowsToRemove)

,userName,isEdited,review,rating,title,date
2,Kazem Sharan,False,I’ve been using bolt for a month now. I had a ...,1,Drivers are unprofessional,2019-09-20 09:25:04
4,Maria348794,False,I have used the app 3 or 4 times and I thought...,1,I feel scammed,2019-11-04 15:03:04